@*@model Pizza
@{
    ViewData["Title"] = @Model.Name;
}

<div class="text-center">

    <h2>@Model.Name</h2>
    <img src="/@Model.Img">
    <p>@Model.Description</p>
    <p>@Model.Category.CategoryName</p>
    <p>@Model.Price $</p>

</div>*@


@model int
<div class="text-center">
     <div class="row">
        <div class="col-12 js_pizza">
            
        </div>
    </div>
</div>

<script type="text/javascript">
    
    const id = @Model
    
    axios.get(`/api/Pizza/${id}`).then((res) => {

        console.log('ok, ecco i tuoi dati', res.data);
        
        const pizza = res.data;
       
        document.querySelector('.js_pizza').innerHTML +=
        `
              
            <img src="/${pizza.img}" class="card-img-top" alt="${pizza.name}">
            <h2 class="card-title">${pizza.name}</h2>
            <p class="card-text">${pizza.description}</p>
            <p>${pizza.price} $</p>
                        
        `;
    })
    .catch((err) => {
        console.log('non ho trovato niente', err); 
        document.querySelector('.js_pizza').innerHTML += '<div class="alert alert-danger"><h2>Non ci sono pizze con questo id =/</h2></div>';
    });
</script>