@{
    ViewData["Title"] = "Home Page";
}


@model List<Pizza>;
<div class="text-center">

    <div class="row">
        <div class="col">
            <h1 class="display-4">Pizzeria Static</h1>
            <p>Scegli la pizza statica che ti piace di più!</p>
        </div>
    </div>

    @*<div class="row">
        <div class="col d-flex justify-content-between">
            @if (Model.Count == 0)
            {
                <p>Non ci sono pizze</p>
            }
            else
            {

                @foreach (Pizza pizza in Model)
                {
                    <div class="card w-25">
                        <a asp-controller="Pizza", asp-action="Detail", asp-route-id="@pizza.Id">
                            <img src="@pizza.Img" class="card-img-top" alt="card-img-top">
                        </a>
              
                        <div class="card-body">
                            <h2 class="card-title">@pizza.Name</h2>
                            <p class="card-text">@pizza.Description</p>
                            <p class="card-text">@pizza.Category.CategoryName</p>
                            <p>@pizza.Price $</p>
                        </div>
              
                        <div class="card-footer text-muted">
                            <a asp-controller="Pizza" asp-action="Update" asp-route-id="@pizza.Id"  class="btn btn-primary">Modifica</a>
                            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                 @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger">Cancella</button>
                            </form>
                        </div>
                    </div>
                }
            }


        </div>
    </div>*@

    
    <div class="row js_no_pizze text-center d-none">
        <div class="col-12">
            <h3>Non ci sono pizze</h3>
        </div>
    </div>

    <div class="row js_pizze text-center d-none">
        <div class="col-12">
            
        </div>
    </div>

</div>

<script type="text/javascript">
    //axios.get('api/pizza').then(res => {
    //    console.log('risultato ok', res);
    //    if (res.data.length == 0) {
    //        document.querySelector('.js_no_pizza').classList.remove('d-none');
    //        document.querySelector('js_pizze_table').classList.add('d-none');
    //    }
    //    else 
    //    {

    //    }
    //}
    loadPizze()
    function loadPizze() {

        axios.get('api/Pizza').then((res) => {
            console.log('ok, ecco i tuoi dati', res.data)
            if (res.data.length == 0) {
                document.querySelector('.js_no_pizze').classList.remove('d-none');
                document.querySelector('.js_pizze').classList.add('d-none');
            }
            else 
            {
                document.querySelector('.js_no_pizze').classList.add('d-none');
                document.querySelector('.js_pizze').classList.remove('d-none');

                document.querySelector('.js_pizze').innerHTML = '';

                res.data.forEach(pizza => {
                    console.log('pizza', pizza)
                    document.querySelector('.js_pizze').innerHTML +=
                    `<div class="card w-25">
                        <a href="Pizza/Detail/${pizza.id}">
                            <img src="${pizza.img}" class="card-img-top" alt="${pizza.name}">
                        </a>
              
                        <div class="card-body">
                            <h2 class="card-title">${pizza.name}</h2>
                            <p class="card-text">${pizza.description}</p>
                            <p>${pizza.price} $</p>
                        </div>
              
                        
                    </div>`
                })

            }


        })
        .catch(err => {
            console.log('non ho trovato niente', err);
        })
    }
                   
                
</script>